@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  @apply bg-[#0f172a] text-slate-200; /* Глубокий темно-синий */
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-xl border border-white/10 rounded-3xl shadow-2xl;
}

.input-glow {
  @apply bg-white/5 border border-white/10 focus:border-blue-500/50 focus:ring-4 focus:ring-blue-500/10 transition-all outline-none rounded-2xl;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 active:scale-95 transition-all py-3 rounded-2xl font-semibold shadow-lg shadow-blue-500/20;
}
